{% extends'partial/base.html.twig' %}

{% block metatitle %}
    Pokémons : Liste des Pokémons
{% endblock %}

{% block body %}
    <section class="flex">
        {% for pokemon in pokemons %}

            {% if pokemon.isPublished %}

                <div class="w30">
                    <h2 class="white"> -- Nom du pokémon --</h2>
                    <p class="fontSize">{{ pokemon.title }}</p>
                    <h2 class="bronw"> -- ID du pokemon --</h2>
                    <p class="fontSize">{{ pokemon.id }}</p>
                    <h2 class="bronw"> -- Element du pokemon --</h2>
                    <p class="fontSize">{{ pokemon.content }}</p>
                    <p><a href="{{ path('show_article') }}?id={{ pokemon.id }}">
                            Afficher l'article
                        </a>
                    </p>
                </div>

            {% endif %}

        {% endfor %}
    </section>
{% endblock %}
